@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: var(--baloo-font);
}

:root {
  --top-header-bg: #55415f;
  --common-clr: #999999;
  --header-bg-clr: #ebebeb;
  --footer-bg-clr: #222222;
  --heding-text-clr: #333333;
  --baloo-font: 'Baloo 2', cursive;
}


/* =================================================================================
                                Header Section Design
  ==================================================================================== */
#header {
  background: transparent;
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  z-index: 1000;
  padding: 45px 15%;
  height: 55px;
  transition: all .45s ease;
}

#header .logo {
  color: #fff;
  font-size: 2rem;
  line-height: 1.1;
  font-family: var(--baloo-font);
  font-weight: 800;
}

span {
  color: #e53939;
}

#header ul {
  display: flex;
}

#header ul li a {
  color: #fff;
  font-size: 16px;
  position: relative;
  font-family: var(--baloo-font);
  font-weight: 400;
  padding: 5px 8px;
}

#header ul li a::after {
  content: '';
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  z-index: -1;

}

#header ul li a::before {
  content: '';
  position: absolute;
  top: 30px;
  left: 0;
  width: 20px;
  height: 3px;
  background: #e53939;
  z-index: 1;
  transition: all 0.45s linear;
}

#header ul li a:hover::before {
  width: 100%;
}

#header ul li {
  margin: 0 14px;
  display: block;
}

.register .fa-bars {
  font-size: 2rem;
  color: #fff;
  display: none;
  cursor: pointer;
}


/* =================================================================================
                                Home Section Design
  ==================================================================================== */
.home {
  padding: 45px 15%;
  background: linear-gradient(#06060672, #06060672), url('../img/tech-background\ \(4\).jpg');
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: -10000;
}

.home-text h2 {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 1;
  color: #ffff;
  font-family: var(--baloo-font);
}

.home-text h1 {
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 1;
  color: #ffff;
  font-family: var(--baloo-font);
  margin-bottom: 2rem;
}

.home-text p {
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.8;
  color: #ffff;
  font-family: var(--baloo-font);
  margin-bottom: 2rem;
}

.btn {
  background: transparent;
  border: 2px solid #fff;
  padding: 8px 12px;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 8px;
  font-family: var(--baloo-font);
  font-weight: 600;
  transition: all .45s ease;
  position: absolute;
}

.btn:hover {
  background: #e53939;
  color: #fff;

}


/* =================================================================================
                                Home Section Design
  ==================================================================================== */
.about {
  padding: 45px 15%;
}


span {
  color: #e53939;
}

.main-text {
  text-align: center;
  color: #222222;
  font-family: var(--baloo-font);
  padding: 45px 0;
}

.main-text h3 {
  font-size: 3rem;
}

.main-text p {
  font-size: 1.1rem;
}


.about-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
}


.about-text h3 {
  font-size: 3rem;
  font-family: var(--baloo-font);
  font-weight: 600;
  line-height: 1.1;
}

hr {
  border: 1px solid #e53939;
  margin-bottom: 1rem;
}

.about-text h4 {
  font-size: 1.5rem;
  font-family: var(--baloo-font);
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

.about-text p {
  font-size: 1.2rem;
  font-family: var(--baloo-font);
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

.about-img img {
  width: 100%;
  max-width: 430px;
  border-radius: 8px;
  border: 4px solid #e53939;
  display: block;
}

.about-img {
  position: relative;
}


.layer {
  width: 430px;
  height: 0%;
  position: absolute;
  border-radius: 8px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #e53939);
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s ease;
  flex-direction: column;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
}

#header.sticky{
  background:#1e1e1e74;
  border-bottom: 1px solid #ffffff41;
  padding: 15px 15%;
  height: 65px;
}



.about-img:hover .layer {
  height: 100%;
}

























/* =================================================================================
                                Responsive For Small View
  ==================================================================================== */
@media (max-width:992px) {
  #header {
    padding: 40px 12%;
  }

  #header ul li a {
    color: #fff;
    font-size: 14px;
    position: relative;
    font-family: var(--baloo-font);
    font-weight: 400;
    padding: 5px 8px;

  }
}

@media (max-width:745px) {
  #header {
    padding: 20px 8%;
  }

  #header ul {
    background: #333333;
    width: 300px;
    /* height: 600px; */
    display: block;
    position: absolute;
    top: 52px;
    right: 0;
    text-align: right;
    padding: 38px 38px;
    border-radius: 0 0 25px 25px;

  }

  #header ul li a {
    display: block;

  }

  #header ul li {
    margin-bottom: 15px;

  }

  #header ul li a::before {
    width: 60px;
  }

  #header ul li a:hover::before {
    width: 100%;
  }

  .register .fa-bars {
    display: block;
    ;
  }


}